.App {
    text-align: center;
}

.App-logo {
    width: 100%;
}

.App-header {
    height: 200px;
    color: white;
    overflow: hidden;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.drinkPic {
    width: 200px;
}

.ingredientList {
    list-style-type: none;
    padding: 0;
}

.instructions {
    width: 60%;
}

.drinkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}